/**
 * =============================================================================
 * This is the file where all your styling should go in.
 * Instead of modifying the styles found in the monogatari.css file or others,
 * you should overwrite those styles in this file.
 *
 * The CSS selectors shown are not an extensive list but they are the most
 * common you might want to change. To find what other elements are available,
 * you can take a look at the monogatari.css file or use your browser's dev
 * tools to inspect the elements.
 * =============================================================================
**/

/**
 * ===========================
 * General Styling
 * ===========================
**/

/* General Style */
body {

}

/* Simple Button styles*/
button {

}

/* Simple Button Style on Hover */
button:hover {

}

/* General Styling for Menu Screens */
[data-screen] {

}

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */
[data-screen="main"] {

}

/* Main Menu Buttons Styling */
[data-screen="main"] button {

}

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/

/* Slots Style */
[data-component="save-slot"] figure {

}

/* Slot's Image Style */
[data-component="save-slot"] img {

}

/* Slots Title Style */
[data-component="save-slot"] figcaption {

}

/* Slots Delete Button Style */
[data-component="save-slot"] button {

}

/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/

/* Choice Buttons style */
[data-component="choice-container"] button {

}

/* Choice Button Style on Hover */
[data-component="choice-container"] button:hover {

}

/* Text Box styling */
[data-component="text-box"] {

}

/* Character Name Style */
[data-ui="who"] {

}

/* Style for Centered Text */
[data-component="centered-dialog"] {

}

/* Character Images Styles */
[data-screen="game"] [data-character] {

}

/* Other Images Styles */
[data-screen="game"] [data-image] {

}

/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* These styles are applied to the Mobile version of the Quick Menu */

/* Quick Menu Style */
[data-component="quick-menu"] {

}

/* Quick Menu Buttons Style */
[data-component="quick-menu"] span {

}

/* Quick Menu Buttons Style on Hover */
[data-component="quick-menu"] span:hover {

}

/* Quick Menu Buttons Icon Style */
[data-component="quick-menu"] > span > .fa {

}

/**
 * ===========================
 * Range Styling
 * ===========================
**/

/* Use the background property to set a color for these */
input[type=range]:focus::-webkit-slider-runnable-track {

}

input[type=range]::-webkit-slider-runnable-track {

}

input[type=range]:focus::-ms-fill-upper {

}

input[type=range]:focus::-ms-fill-lower {

}

input[type=range]::-moz-range-track {

}

input[type=range]::-ms-fill-lower {

}

input[type=range]::-ms-fill-upper {

}

/* Styles for the desktop version of the Quick Menu*/
@media screen and (min-width: 37.56255em) {

	/* Quick Menu Style */
	[data-component="quick-menu"] {

	}

	/* Quick Menu Buttons Style */
	[data-component="quick-menu"] span {

	}

	/* Quick Menu Buttons Style on Hover */
	[data-component="quick-menu"] span:hover {

	}
}

.navigationBox {
    color: white;
	width: calc(100vh * 1.6);
	height: calc(100vw * 0.625);
    overflow: hidden;
	max-height: 100%;
	max-width: 100%;
}

.salvadoraltavoz {
    color: white;
	background-color: #0954d5;
	border: 5px solid #093f9c;
    position: absolute;
    top: 40%;
    left: 20%;
    height: 20%;
    width: 22%;
	margin: 0px;
	overflow:hidden;
}

.salvadormovil {
	color: white;
	background-color: #0954d5;
	border: 5px solid #093f9c;
    position: absolute;
    top: 40%;
    right: 10%;
    height: 20%;
    width: 22%;
	margin: 0px;
	overflow:hidden;
}

.salvadorotra {
	color: white;
	background-color: #0954d5;
	border: 5px solid #093f9c;
    position: absolute;
	top: 5%;
    right: 0%;
    height: 10%;
    width: 22%;
	margin: 0px;
	overflow:hidden;
}

.escalinatarampa {
    color: white;
	background-color: #0954d5;
	border: 5px solid #093f9c;
    position: absolute;
    top: 40%;
    left: 20%;
    height: 20%;
    width: 22%;
	margin: 0px;
	overflow:hidden;
}

.escalinataplataforma {
	color: white;
	background-color: #0954d5;
	border: 5px solid #093f9c;
    position: absolute;
    top: 40%;
    right: 20%;
    height: 20%;
    width: 22%;
	margin: 0px;
	overflow:hidden;
}

.escalinataotra {
	color: white;
	background-color: #0954d5;
	border: 5px solid #093f9c;
    position: absolute;
	top: 5%;
    right: 0%;
    height: 10%;
    width: 22%;
	margin: 0px;
	overflow:hidden;
}

.mausoleoizquierda {
	background: url(leftArrow.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
    position: absolute;
    position: absolute;
    top: 48%;
    left: 5%;
    height: 20%;
    width: 22%;
	margin: 0px;
	overflow:hidden;
}

.mausoleoderecha {
    background: url(forward.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
    position: absolute;
    top: 35%;
    right: 40%;
    height: 15%;
    width: 20%;
	margin: 0px;
	overflow:hidden;
}

.mausoleootra {
	color: white;
	background-color: #0954d5;
	border: 5px solid #093f9c;
    position: absolute;
	top: 5%;
    right: 0%;
    height: 10%;
    width: 22%;
	margin: 0px;
	overflow:hidden;
}