/**
 * =============================================================================
 * This is the file where all your styling should go in.
 * Instead of modifying the styles found in the monogatari.css file or others,
 * you should overwrite those styles in this file.
 *
 * The CSS selectors shown are not an extensive list but they are the most
 * common you might want to change. To find what other elements are available,
 * you can take a look at the monogatari.css file or use your browser's dev
 * tools to inspect the elements.
 * =============================================================================
**/

/**
 * ===========================
 * General Styling
 * ===========================
**/

/* General Style */
body {

}

/* Simple Button styles*/
button {

}

/* Simple Button Style on Hover */
button:hover {

}

/* General Styling for Menu Screens */
[data-screen] {

}

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */
[data-screen="main"] {

}

/* Main Menu Buttons Styling */
[data-screen="main"] button {

}

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/

/* Slots Style */
[data-component="save-slot"] figure {

}

/* Slot's Image Style */
[data-component="save-slot"] img {

}

/* Slots Title Style */
[data-component="save-slot"] figcaption {

}

/* Slots Delete Button Style */
[data-component="save-slot"] button {

}

/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/

/* Choice Buttons style */
[data-component="choice-container"] button {

}

/* Choice Button Style on Hover */
[data-component="choice-container"] button:hover {

}

/* Text Box styling */
[data-component="text-box"] {

}

/* Character Name Style */
[data-ui="who"] {

}

/* Style for Centered Text */
[data-component="centered-dialog"] {

}

/* Character Images Styles */
[data-screen="game"] [data-character] {

}

/* Other Images Styles */
[data-screen="game"] [data-image] {

}

/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* These styles are applied to the Mobile version of the Quick Menu */

/* Quick Menu Style */
[data-component="quick-menu"] {

}

/* Quick Menu Buttons Style */
[data-component="quick-menu"] span {

}

/* Quick Menu Buttons Style on Hover */
[data-component="quick-menu"] span:hover {

}

/* Quick Menu Buttons Icon Style */
[data-component="quick-menu"] > span > .fa {

}

/**
 * ===========================
 * Range Styling
 * ===========================
**/

/* Use the background property to set a color for these */
input[type=range]:focus::-webkit-slider-runnable-track {

}

input[type=range]::-webkit-slider-runnable-track {

}

input[type=range]:focus::-ms-fill-upper {

}

input[type=range]:focus::-ms-fill-lower {

}

input[type=range]::-moz-range-track {

}

input[type=range]::-ms-fill-lower {

}

input[type=range]::-ms-fill-upper {

}

/* Styles for the desktop version of the Quick Menu*/
@media screen and (min-width: 37.56255em) {

	/* Quick Menu Style */
	[data-component="quick-menu"] {

	}

	/* Quick Menu Buttons Style */
	[data-component="quick-menu"] span {

	}

	/* Quick Menu Buttons Style on Hover */
	[data-component="quick-menu"] span:hover {

	}
}

.navigationBox {
    color: white;
	width: calc(100vh * 1.6);
	height: calc(100vw * 0.625);
    overflow: hidden;
	max-height: 100%;
	max-width: 100%;
}

.button1 {
	background-color: #3DD1E7;
	border: 0 solid #E5E7EB;
	box-sizing: border-box;
	color: #000000;
	transform: rotate(-2deg);
    position: absolute;
    top: 15%;
    left: 0%;
	width: 30%;
	margin: 0px;
	overflow:hidden;
}
.button1:after {
	content: '';
	position: absolute;
	border: 1px solid #000000;
	bottom: 4px;
	left: 4px;
	width: calc(100% - 1px);
	height: calc(100% - 1px);
}

.button2 {
	background-color: #3DD1E7;
	border: 0 solid #E5E7EB;
	box-sizing: border-box;
	color: #000000;
	transform: rotate(-2deg);
    position: absolute;
    top: 30%;
    left: 0%;
	width: 30%;
	margin: 0px;
	overflow:hidden;
}
.button2:after {
	content: '';
	position: absolute;
	border: 1px solid #000000;
	bottom: 4px;
	left: 4px;
	width: calc(100% - 1px);
	height: calc(100% - 1px);
}

.button3 {
	background-color: #3DD1E7;
	border: 0 solid #E5E7EB;
	box-sizing: border-box;
	color: #000000;
	transform: rotate(-2deg);
    position: absolute;
    top: 45%;
    left: 0%;
	width: 30%;
	margin: 0px;
	overflow:hidden;
}
.button3:after {
	content: '';
	position: absolute;
	border: 1px solid #000000;
	bottom: 4px;
	left: 4px;
	width: calc(100% - 1px);
	height: calc(100% - 1px);
}

.wrap {
    background-color: rgb(222, 222, 222);
	width: calc(100vh * 2);
	height: calc(100vw * 0.625);
    overflow: hidden;
	max-height: 70%;
	max-width: 100%;
}

.buttonTorico {
	background: #3DD1E7 url("../assets/scenes/torico2.jpg") no-repeat left;
	background-size: 60%;
	border: 0 solid #E5E7EB;
	box-sizing: border-box;
	color: #000000;
    position: absolute;
	text-align: right;
    top: 25%;
    left: 2%;
	width: 47%;
	margin: 0px;
	overflow:hidden;
}

.buttonCatedral{
	background: #3DD1E7 url("../assets/scenes/catedral1.jpg") no-repeat left;
	background-size: 60%;
	border: 0 solid #E5E7EB;
	box-sizing: border-box;
	color: #000000;
    position: absolute;
	text-align: right;
    top: 50%;
    left: 2%;
	width: 47%;
	margin: 0px;
	overflow:hidden;
}

.buttonSanMartin{
	background: #3DD1E7 url("../assets/scenes/sanmartin1.jpg") no-repeat left;
	background-size: 60%;
	border: 0 solid #E5E7EB;
	box-sizing: border-box;
	color: #000000;
    position: absolute;
	text-align: right;
    top: 75%;
    left: 2%;
	width: 47%;
	margin: 0px;
	overflow:hidden;
}

.buttonSalvador{
	background: #3DD1E7 url("../assets/scenes/salvador1.jpg") no-repeat right;
	background-size: 60%;
	border: 0 solid #E5E7EB;
	box-sizing: border-box;
	color: #000000;
    position: absolute;
	text-align: left;
    top: 25%;
    right: 2%;
	width: 47%;
	margin: 0px;
	overflow:hidden;
}

.buttonEscalinata{
	background: #3DD1E7 url("../assets/scenes/escalinata4.jpg") no-repeat right;
	background-size: 60%;
	border: 0 solid #E5E7EB;
	box-sizing: border-box;
	color: #000000;
    position: absolute;
	text-align: left;
    top: 50%;
    right: 2%;
	width: 47%;
	margin: 0px;
	overflow:hidden;
}

.buttonMausoleo{
	background: #3DD1E7 url("../assets/scenes/mausoleo2.jpg") no-repeat right;
	background-size: 60%;
	border: 0 solid #E5E7EB;
	box-sizing: border-box;
	color: #000000;
    position: absolute;
	text-align: left;
    top: 75%;
    right: 2%;
	width: 47%;
	margin: 0px;
	overflow:hidden;
}

.buttonCancelar {
    position: absolute;
    top: 2%;
    right: 2%;
	margin: 0px;
	height: 15%;
}

.text {
	background: transparent;
	color: #000000;
	position: absolute;
    top: 2%;
    left: 2%;
	margin: 0px;
	pointer-events: none;
}

